<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action = "/risultatoCategoria" method="get">
            <select name = "categoria">
                {%for c in lista%}
                    <option value = "{{c}}">{{c}}</option><br><br>
                {%endfor%}
            </select>
            <input type = "submit" value = "visualizza i dati">
        </form>
    </body>
</html>