<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <a href = "/categoria"><p>l'elenco dei prodotti di una certa categoria inserita dall'utente</p></a>
        <a href = "/prezzo"><p> l'elenco dei prodotti che hanno un prezzo compreso tra due estremi inseriti dall'utente</p></a>
        <a href = "/stringa"><p> l'elenco dei prodotti che hanno nel nome una stringa inserita dall'utente</p></a>
        <a href = "/prodotti"><p>il numero di prodotti per ogni categoria.</p></a>
        <a href = "/grafico"><p>il grafico che rappresenta il numero di prodotti per ogni categoria.</p></a>
    </body>
</html>