<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prezzo</title>
    </head>
    <body>
        <form action = "/risultatoPrezzo" method="get">
            <input type = "text" name = "minimo">inserisci il valore di prezzo minimo<br><br>
            <input type = "text" name = "massimo">inserisci il valore di prezzo massimo<br><br>
            <input type = "submit" value = "visualizza i dati">
        </form>
    </body>
</html>